<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style6.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>


<body>  

    <%- include('../partials/header.ejs')%>
    
    <div class="contenedorDetalle">
        <div class="card-container">
            <div class="header">
                <a href="#">
                    <img src="/images/avatar.jpg" alt="imagenPerfil">
                </a>
                <h2>Nombre Niñera</h2>
                <h4>Niñera Profesional</h4>
            </div>
            <div class="descripcion">
                <p>Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Eos, facilis. Animi a 
                    illum ipsa explicabo commodi magni 
                    excepturi modi laboriosam fuga similique sit fugit ipsum, 
                    id molestias praesentium nemo debitis.</p>
                    <div class="caracteristica">Precio:</div>
                    <div class="caracteristica">Aptitudes:</div>
                    <div class="caracteristica">Celular:</div>
                    <div class="caracteristica">Mail:</div>
                    
            </div>
        </div>

    </div>


    <%- include('../partials/footer.ejs')%>

</body>
</html>