<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>compras</title>
</head>
<body>
    <header>        
        <div class="navbar">
            <p>Nannys</p>
            <i class="fa-sharp fa-solid fa-cart-plus"></i>
            </div>
        </header>
          
    <main>

        <h1>Perfil Niñeras</h1>
       
        <section class="container">
            <div class="perfil"><img src="/images/ninera1.jpg" alt="perfil1">
            <h3>Lorena Jimenez</h3>
            <p>Niñera con formacion en educacion infantil. Solida experiencia trabajando con niños de edades comprendidas entre 1 y 6.
                Llevar a los niños a ducharse, cambiarse. Acreditada con referencias </p>
            <p>Valor: $ 13.000/dia</p>
            <input class="submit" type="submit" value="Seleccionar"></div>
    
            <div class="perfil"><img src="/images/ninera2.jpg" alt="perfil2">
            <h3>Clara Orjuela</h3>
            <p>Soy Clara, estudiante de Educacion pimaria de la UAB.  Dinamica, creativa y responsable, dicen que tengo facilidad para conectar con los niños. Ayudo a los niños a ducharse, cambiarse, acostarse todas las noches.</p>
            <p>Valor: $ 15.000/dia</p>
            <input class="submit" type="submit" value="Seleccionar"></div>
    
            <div class="perfil"><img src="/images/ninera3.jpg" alt="perfil3">
            <h3>Alexandra Diaz</h3>
            <p>Niñera experimentada y confiable, con mas de 10 años de experiencia en el cuidado de niños y sus familias. Ofrezco cuidados optimos a niños de incluso tan solo de 8 semanas de edad. 
                dispuestos a recomendar mis servicios. </p>
            <p>Valor: $ 19.000/dia</p>
            <input class="submit" type="submit" value="Seleccionar"></div>
    
            <div class="perfil"><img src="/images/ninera4.jpg" alt="perfil4">
            <h3>Daniela Alarcon</h3>
            <p>Niñera paciente, responsable, calida, energetica y cariñosa. Conocimientos en metodo montesorri. Experta en diseñar juegos y actividades creativas que permitan a los niños aprender mientras se divierten. Ayudo con tareas</p>
            <p >Valor: $20.000/dia</p> 
            <input class="submit" type="submit" value="Seleccionar"></div>
            </section>
    </main>


           
</body>

</html>