<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/css/home.css">
    <%- include('partials/head.ejs')%>

<body>  

    <%- include('partials/header.ejs')%>
    

    <div class="contenedorImagenBanner">
         <img src="/images/bannerHome.jpg" alt="niñeras con niños en parque">
    </div>

<h3 class="subtitulo">Servicios</h3>

    <div class="servicios">
        <div class="contenedorAccordion">

            <ul class="accordion">
                <li>
                    <label for="first">Prueba1 <span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="first" checked>
                    <div class="content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                            quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                            deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                            rem totam. </p>
                    </div>
                </li>

                <li>
                    <label for="second">Prueba2<span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="second">
                    <div class="content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                            quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                            deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                            rem totam. </p>
                    </div>
                </li>

                <li>
                    <label for="third">Prueba3<span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="third">
                    <div class="content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                            quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                            deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                            rem totam. </p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="contenedorImagenServicios">
            <img class="imagenServicios" src="/images/serviciosHome.jpg" alt="Niñera cuidando niño">
        </div>
    </div>

<h3 class="subtitulo">Recomendaciones</h3>

    <div class="recomendaciones">

        <div class="recomendacionesImg">
            <img src="/images/recomendacionesHome.jpg" alt="niña feliz con padres">
        </div>

        <div class="recomendacionesExp">
            <h4>!EXPERIENCIAS CON NANNYS!</h4>
            <a href="/about">Leer Experiencias</a>
        </div>

    </div>

<h3 class="subtitulo">Contacto</h3>

    <div class="contacto">

        <div class="contactoImg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.955285859576!2d-58.52320478519984!3d-34.47865855839786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb047eee0d8a3%3A0xc37aa5894070f63b!2sAv.%20Bernab%C3%A9%20M%C3%A1rquez%20700%2C%20San%20Isidro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1617900991168!5m2!1ses!2sar" 
                width="80%" height="80%" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="contenedorFormulario">
            <h4>!NO DUDES EN CONTACTARNOS!</h4>
            <form action="/registro" method="post">
                <input type="text" placeholder="Nombre y Apellido">
                <input type="tel" placeholder="Telefono">
                <input type="email" placeholder="E-mail">
                <label for="mensaje" class="form-label">Mensaje:</label>
                <textarea type="" class="form-control"  id="mensaje"></textarea>
            </form> 
        </div>
    </div>

<%- include('partials/footer.ejs')%>
</body>


</html>