<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style6.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <%- include('partials/header.ejs')%>

    <div class="contenedorBanner">
        <h1>Como funciona?</h1>
        <p>Conectamos a padres que busquen niñeras</p>
        <img class = "img-children" src="/images/banner-mision.jpg" alt="niñeras con niños en parque">
   </div>

        <h3>Como funciona?</h3>
    
    <div class="contain-mision">
        <div class="contain-goals">
            <h4>1</h4>
            <p>Encuentra tu niñera</p>
            
            <ul>
                <li>Ve perfiles detallados</li>
                <li>Ve las experiencias/opiniones</li>
                <li>Elige la que mas te gusta</li>
            </ul>
        
            </div>
        <div class="contain-goals">
            <h4>2</h4>
            <p>meetings</p>
            <ul>
                <li>Asigna una cita</li>
                <li>Conoce a la niñera</li>
                <li>Utiliza diferentes plataformas</li>
            </ul>
        </div>

        <div class="contain-goals">
            <h4>3</h4>
            <p>Metodos pago</p>
            <ul>
                <li>Selecciona a la niñera</li>
                <li>Realiza la facturacion</li>
                <li>Paga por nuestros medios</li>
            </ul>
            
        </div>

    </div>

        <h3>Experiencias</h3>
        <p class="comentario">Opiniones de las familias sobre nuestras niñeras</p>
        <div class="contain-experiences">
        <div class="contain-nannys">
            <img src="/images/familias.jpg" alt="">
            <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                rem totam"</p>
            <a >Nombre</a>
            
        </div>

        <div class="contain-nannys">
            <img src="/images/familias.jpg" alt="">
            <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                rem totam"</p>
            <a >Nombre</a>
            
        </div>

        <div class="contain-nannys">
            <img src="/images/familias.jpg" alt="">
            <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                rem totam"</p>
            <a >Nombre</a>
            
        </div>

        <div class="contain-nannys">
            <img src="/images/familias.jpg" alt="">
            <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                rem totam"</p>
            <a >Nombre</a>
            
        </div>

        <div class="contain-nannys">
            <img src="/images/familias.jpg" alt="">
            <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                quis tempore, corporis numquam nemo ut esse, amet sint officiis 
                deserunt quae laboriosam ad quibusdam labore facilis et. Dolor, 
                rem totam"</p>
            <a >Nombre</a>
            
        </div>
        </div>

        <h3>Seguridad</h3>
        <div class="security">
            <i class="fa fa-file" aria-hidden="true"></i>
            <p>Solicita referencias y documentos donde se evidencie los antecendes de la persona, mira las opiniones 
                de la pagina
            </p>
            <br>
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p>Manten tu informacion privada, no des numeros de celular o/u informacion personal hasta que te vayas a 
                reunir con la niñera
            </p>
            <br>
            <i class="fa fa-comment" aria-hidden="true"></i>
            <p>Contactanos si tienes algun tipo de duda
            </p>
        </div>
    </div>

   
    
    <%- include('partials/footer.ejs')%>
</body>
</html>