<footer>
    <div>

        <div class="GranContenedorFooter">

            <div class="contenedorFooter">
                <h3>Nombre Empresa</h3>
                <ul>
                    <li class="itemFooter"><a href="">Privacidad</a></li>
                    <li class="itemFooter"><a href="">Términos</a></li>
                    <li class="itemFooter"><a href="">Datos de la empresa</a></li>
                </ul>
            </div>

            <div class="contenedorFooter">
                <h3>Preguntas Frecuentes</h3>
                <ul>
                    <li class="itemFooter"><a href="">Como Funciona</a></li>
                    <li class="itemFooter"><a href="">Ayuda</a></li>
                </ul>
            </div>

            <div class="contenedorFooterRedes">
                <h3>Siguenos en</h3>
                <div class="contenedorRedes">
                    <ul>
                        <li><a href="" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" class="facebook"><i class="fab fa-facebook-f"></i></i></a></li>
                        <li><a href="" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="" class="youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</footer>