<header>      


    <nav class="navBar">

        <div class="contenedorLogo">
            <a href="home.html"><img src="/images/logo.jpg" class="logo"  alt="Logo"></a>
        </div>

         <div class="contenedorBotones">
            <a href="#" class="botonNav">Como Funciona?</a>
            <a href="compras.html" class="botonNav">Servicios</a>
            <a href="#" class="botonNav">Ayuda</a>
            <a href="SignIn.html" class="botonNav">Acceder</a>
            <a href="RegistrarseNineras.html" class="botonNav">Registrarse</a>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

       </div>
</header>
