<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/login.css">
             
<body>
  
    <%- include('../partials/header.ejs')%>

    
<!--- Formulario Niñeras-->
<main>
    <div class="errores">
        <ul></ul>
    </div>


    <form action="/login-process" method="POST" class="create-form">

        <h1>Bienvenido! Inicia tu sesión</h1>
        <div class="control-formulario">
            <label for="" class="label">E-mail</label>
            <input type="email" name="email" class="control" id="email">
            <% if(locals.errors && errors.email){%>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <%} %>
        </div>

        <div class="control-formulario">
            <label for="" class="label">Password</label>
            <input type="password" name="password" class="control" id="password">
        </div>

    
        <button type="submit" class="boton-formulario-enter">Sign In</button>
        
    </form>

</main>

<script src="/js/validationLogin.js"></script>

  <%- include('../partials/footer.ejs')%>


</body>

</html>