<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/css/style4.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Nannies - Registrarse</title>
</head>
          
<body>

    <%- include('../partials/header.ejs')%>

        
<!--- Formulario Niñeras-->

<main class="form-container">
<form action="/new-ninera" method="POST" enctype="multipart/form-data">
    <h1>¡Bienvenido a Nannies!</h1>
    <div class="control-formulario">
      Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple">
    </div>
    
    
    <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control">
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control">
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control">
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control">
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="text" name="password" class="control">
    </div>
   
    <div class="control-formulario">
        <label>Edad</label>
        <input type="text" name="edad" class="control">
    </div>

    <div class="control-formulario">
        <label>Nacionadlidad</label>
        <input type="text" name="nacionalidad" class="control">
    </div>

    <div class="control-formulario">
        <label>País de residencia</label>
        <select name="pais_de_residencia" class="control">
            <option value="Argentina">Argentina</option>
            <option value="Colombia">Colombia</option>
        </select>     
    </div>

    <div class="control-formulario">
         <label>Ciudad de residencia</label>
         <select name="ciudad_de_residencia" class="control">
            <option value="CABA">CABA</option>
            <option value="COR">Córdoba</option>
            <option value="LP">La Plata</option>
            <option value="MDQ">Mar del Plata</option>
            <option value="Ro">Rosario</option>
            <option value="BGT">Bogotá</option>
            <option value="BARR">Barranquilla</option>
            <option value="CAL">Cali</option>
            <option value="Cart">Cartagena</option>
            <option value="Med">Medellín</option>  
        </select>
    </div>
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control">
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="number" name="celular" class="control" placeholder="">
    </div>

 
    <div class="control-formulario">
        <label>Descripción</label>
        <textarea name="descripcion" class="control"></textarea >
    </div>

    <div class="control-formulario">
        <label>Describete en una frase</label><!--- Se debe limitar-->
        <textarea name="frase" class="control"></textarea >
    </div>

    

    <div class="control-formulario">
        <label>Aptitudes (Seleccioná tres)</label>
        
        <input  type="checkbox" name="aptitudes" value="Paciencia"><label for="Paciencia">Paciencia</label></div>
        <input  type="checkbox" name="aptitudes" value="Respondable"><label for="Respondable">Respondable</label></div>
        <input  type="checkbox" name="aptitudes" value="Proactiva"><label for="Proactiva">Proactiva</label></div>
        <input  type="checkbox" name="aptitudes" value="Divertida"><label for="Divertida">Divertida</label></div>
        <input  type="checkbox" name="aptitudes" value="Comunicacion"><label for="Comunicacion">Comunicacion</label></div>
        <input  type="checkbox" name="aptitudes" value="Organizada"><label for="Organizada">Organizada</label></div>
        <input  type="checkbox" name="aptitudes" value="Puntual"><label for="Puntual">Puntual</label></div>
        <input  type="checkbox" name="aptitudes" value="Creativa"><label for="Creativa">Creativa</label></div>
        <input  type="checkbox" name="aptitudes" value="Amistosa"><label for="Amistosa">Amistosa</label></div>
    </div>


    <div class="control-formulario">
        <label>Precio por Hora</label>
       <input type="price" name="precio" class="control" placeholder="">       
    </div>

        
    <button type="submit" class="boton-formulario">Guardar</button>
    

</form>

</main>

<%- include('../partials/footer.ejs')%>   
</body>
</html>
